.App {
  margin-left: 0.25vw;
  margin-top: 0.5vh;
  width: 40vw;
  border: 1px solid black;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header, #main, #footer {
  width: 100%;
}

#main, #footer {
  box-sizing: border-box;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-bottom: 1vh;
}

#header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

#footer {
  border-top: 1px solid black;
  min-height: 2vh;
}

#game-title {
  display: inline-block;
  margin-left: 1vw;
  margin-top: 2vh;
}

.class-button, .standard-button, .standard-div-button {    
  padding: 5px;
  font-size: larger;
  border: 1px solid black;
}

.class-button {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5vw;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-pointer:disabled {
  cursor: default;
}

.menu-button {
  display: inline-block;
  padding: 3px 5px 3px 5px;
  font-size: large;
  border: 1px solid black;
  margin-left: 1vw;
}

.selected-box {
  box-shadow: 1px 2px 2px 1px black;
}

.skill-button {
  float: left;
  vertical-align: middle;
  height: 50px;
  width: 70px;
  padding: 3px;
  margin-right: 1vw;
  border: 1px solid black;
  text-align: center;
}

.skill-button-single-word {
    line-height: 50px;
}

.standard-button {
    background-color: white;
    font-family: serif;
}